# Created by Vercel CLI
KV_REST_API_READ_ONLY_TOKEN="AlUvAAIgcDGn-NW_JjkYWOKAknDnGG9dIM7C8kolNOHdGK9q8e2cwA"
KV_REST_API_TOKEN="AVUvAAIjcDFiZDMyYjhkYjE2YzM0NWFhYTcyYWNiOWFhMDhhMDFiY3AxMA"
KV_REST_API_URL="https://warm-moose-21807.upstash.io"
KV_URL="rediss://default:AVUvAAIjcDFiZDMyYjhkYjE2YzM0NWFhYTcyYWNiOWFhMDhhMDFiY3AxMA@warm-moose-21807.upstash.io:6379"

OPENAI_API_KEY="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"